* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

body {
  background: #051119;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #0047ab;
}

.show-when-see {
  opacity: 0;
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.show-when-see.show {
  opacity: 1;
}

#navbar-mobile-button {
  display: none;
}

#navbar-mobile-menu {
  display: none;
}

#navbar {
  background: #051119;
  transition: top 0.3s ease-in-out;
  display: flex;
  width: 100%;
  list-style: none;
}

#navbar-left {
  width: 100%;
}

#navbar-right {
  display: flex;
  width: 100%;
  justify-content: right;
}

.navbar-button {
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
  position: relative;
  cursor: pointer;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.navbar-button:focus,
.navbar-button:hover {
  color: #fff;
}

.navbar-button:focus:after,
.navbar-button:hover:after,
.navbar-button.clicked:after {
  width: 100%;
  left: 0%;
}

.navbar-button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

#home {
  background-image: url("/images/specialback.png");
  background-position: center;
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home-titles {
  flex-direction: column;
  padding-bottom: 4%;
  padding-top: 3%;
}

#home-subtitle {
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

#home-title {
  font-size: 7rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  font-weight: 600;
  letter-spacing: 0.1375rem;
  text-transform: uppercase;
  line-height: 1;
}

#tools {
  display: flex;
  gap: 1.5rem;
  padding: 0.6rem;
  padding-bottom: 3%;
}

.tool {
  background: #051119;
  width: 4.375rem;
  height: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: transform 0.3s;
}

.tool img {
  width: 2.5rem;
  height: 2.5rem;
}

.tool:hover {
  transform: scale(1.1);
  background: #0047ab;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  background-color: #0047ab;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tool:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.arrows {
  padding: 0.375rem 0 0 0;
  margin-left: -0.1875rem;
  width: 1.875rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}

.arrowsdown {
  border: solid;
  border-width: 0 0.25rem 0.25rem 0;
  width: 0.9rem;
  height: 0.9rem;
  transform: rotate(45deg);
}

.arrowsdown:nth-child(odd) {
  animation: pulse 700ms ease infinite alternate;
}

.arrowsdown:nth-child(even) {
  animation: pulse 700ms ease infinite alternate 250ms;
}

@keyframes pulse {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

#background {
  background-image: url("../images/back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100vh;
  width: 60%;
  margin: auto;
}

#about-content {
  display: flex;
  align-items: center;
}

#about-title {
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px #0047ab;
  padding-bottom: 3%;
}

#about-text {
  text-align: justify;
  margin-right: 9%;
  font-size: 1.2rem;
  text-indent: 1.875rem;
  line-height: 1.7;
}

#about-img {
  border-radius: 50%;
  height: auto;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 60%;
  margin: auto;
}

#projects-title {
  font-size: 2.5rem;
  padding-bottom: 1.3rem;
  text-shadow: 2px 2px 4px #0047ab;
}

.projects-cards-line {
  display: flex;
  gap: 2.5rem;
  margin-top: 2.5rem;
}

.projects-card {
  max-width: 25rem;
  max-height: 20.38rem;
  border-radius: 0.5rem;
  background-color: #051119;
  box-shadow: 0.1875rem 0.1875rem 0.1875rem 0.1875rem rgba(0, 0, 0, 0.05);
  transition: 0.3s ease-in-out;
}

.projects-card:hover {
  background: #0047ab;
  transform: scale(1.01);
}

.card-content {
  padding: 1.1rem;
  max-height: 11.005rem;
}

.card-image {
  object-fit: cover;
  width: 400px;
  height: 150px;
  border-radius: 0.3125rem 0.3125rem 0 0;
}

.card-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-shadow: 1px 1px 2px #0047ab;
}

.card-description {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: justify;
  overflow: hidden;
}

#courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#courses-title {
  display: flex;
  justify-content: center;
}

.courses-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  gap: 30px;
}

.course {
  width: 320px;
  padding: 12px;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  background: #051119;
  border-radius: 5px;
  box-shadow: 0px 0px 5px -3px #111;
  transition: transform 0.3s;
}

.course:hover {
  background: #0047ab;
  transform: scale(1.03);
}

.course-icon {
  width: 20px;
  height: 20px;
  padding-top: 4px;
  margin-right: 8px;
  color: white;
}

.course-icon path {
  fill: #fff;
}

.course-title {
  font-size: 18px;
}

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 25vh;
}

#contact-title {
  display: flex;
  justify-content: center;
}

#contact-itens {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 25px;
}

.contact-button {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.contact-svg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  z-index: 1;
}

.contact-svg-background {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transition: all 0.3s;
}

.github .contact-svg-background {
  background: #0047ab;
}

.linkdin .contact-svg-background {
  background: #0047ab;
}

.contact-button:hover .contact-svg-background {
  transform: scale(1.15);
}

#footer {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  background-color: #051119;
}
