* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #1c1c1c;
}

a {
  text-decoration: none;
  color: rgb(77, 66, 230);
}

.aparecer {
  opacity: 0;
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.aparecer.show {
  opacity: 1;
}

#navbar {
  list-style: none;
  width: 100%;
  background: #1c1c1c;
  text-align: center;
  font-size: 0;
  transition: top 0.3s ease-in-out;
  position: sticky;
  z-index: 1000;
}

.li-navbar {
  display: inline-block;
}

.btn-navbar {
  display: block;
  padding: 1.5em 4em;
  text-decoration: none;
  font-size: 20px;
  color: #ffff;
  background-color: #1c1c1c;
  transition: all 0.5s ease;
  border: none;
  border-radius: none;
}

.li-navbar button:hover {
  background: #ffff;
  color: #1c1c1c;
  cursor: pointer;
}

#container {
  padding-top: 7%;
  background: black;
  color: #ffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#container.light-mode {
  background-color: #ffff;
  color: black;
}

#title-sobre {
  display: flex;
  font-size: 30px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: justify;
  text-align: left;
  margin-left: 15%;
}

.container-sobre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-sobre {
  text-align: justify;
  margin-right: 100px;
  font-size: 17px;
  max-width: 650px;
  text-indent: 30px;
  line-height: 1.7;
}

.img-sobre img {
  border-radius: 50%;
  height: auto;
}

.portfolio {
  align-items: center;
}

#title-portfolio {
  display: flex;
  font-size: 30px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: right;
  padding-top: 12%;
}

.title-portfolio-projetos {
  display: flex;
  font-size: 30px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.container-portfolio-projetos {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 17px;
  line-height: 1.7;
  max-width: 70%;
}

.container-portfolio-projetos p {
  margin-right: 80px;
  margin-left: 80px;
}

.title-portfolio-cursos {
  margin-top: 10%;
  display: flex;
  font-size: 30px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.container-portfolio-cursos {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 17px;
  line-height: 1.7;
  max-width: 90%;
}

.container-portfolio-cursos p {
  margin-right: 50px;
  margin-left: 50px;
}

.title-portfolio-exp {
  margin-top: 10%;
  display: flex;
  font-size: 30px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.container-portfolio-exp {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 17px;
  line-height: 1.7;
  max-width: 50%;
}

.title-portfolio-extra {
  margin-top: 10%;
  display: flex;
  font-size: 30px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.container-portfolio-extra {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 17px;
  line-height: 1.7;
  max-width: 40%;
}

.container-contato {
  display: flex;
  justify-content: center;
}

#title-contato {
  display: flex;
  font-size: 30px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}

.p-contato {
  justify-content: center;
  text-align: center;
  display: block;
  font-size: 17px;
  max-width: 700px;
  text-align: center;
  line-height: 1.7;
  margin-bottom: 10%;
}

#copy p {
  align-items: center;
  text-align: right;
  padding-right: 2%;
  padding-bottom: 1%;
}
