* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: rgb(77, 66, 230);
}

.aparecer {
  opacity: 0;
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.aparecer.show {
  opacity: 1;
}

#navbar {
  list-style: none;
  width: 100%;
  background: #1c1c1c;
  text-align: center;
  font-size: 0;
  transition: top 0.3s ease-in-out;
  position: sticky;
  z-index: 1000;
}

.li-navbar {
  display: inline-block;
}

.btn-navbar {
  display: block;
  padding: 1.8em 1.4em;
  text-decoration: none;
  font-size: 12px;

  transition: all 0.5s ease;
  border: none;
  border-radius: none;
}

.li-navbar button:hover {
  background: #1c1c1c;
  color: #ffff;
}

#container {
  padding-top: 15%;
  justify-content: center;
  background: black;
  color: #ffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#container.light-mode {
  background-color: #ffff;
  color: black;
}

#title-sobre {
  display: flex;
  font-size: 25px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.container-sobre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.p-sobre {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-size: 13px;
  max-width: 75%;
  text-indent: 15px;
  line-height: 1.7;
}

.img-sobre img {
  margin-top: 10%;
  display: block;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#title-portfolio {
  display: flex;
  font-size: 25px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  padding-top: 12%;
}

.container-portfolio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.title-portfolio-projetos {
  display: flex;
  font-size: 20px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.flex {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.container-portfolio-projetos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-size: 13px;
  line-height: 1.7;
  max-width: 100%;
  text-indent: 15px;
}

.container-portfolio-projetos p {
  margin-bottom: 50px;
}

.title-portfolio-cursos {
  margin-top: 10%;
  display: flex;
  font-size: 20px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.container-portfolio-cursos,
.bootcamp {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  line-height: 1.7;
  max-width: 90%;
}

.container-portfolio-cursos p {
  margin-bottom: 50px;
}

.title-portfolio-exp {
  margin-top: 10%;
  display: flex;
  font-size: 20px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.container-portfolio-exp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  max-width: 75%;
  font-size: 13px;
  line-height: 1.7;
  text-indent: 15px;
}

.title-portfolio-extra {
  margin-top: 10%;
  display: flex;
  font-size: 20px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.container-portfolio-extra {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 13px;
  line-height: 1.7;
  max-width: 75%;
}

.container-contato {
  display: block;
  justify-content: center;
}

#title-contato {
  display: flex;
  font-size: 20px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}

.p-contato {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  max-width: 85%;
  line-height: 1.7;
}

#copy p {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  max-width: 85%;
  line-height: 1.7;
  padding-bottom: 50%;
}
