.navbar-button {
  display: none;
}

#navbar-mobile-button {
  display: flex;
  padding: 0.9rem 1.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  background: none;
}

#navbar-mobile-menu {
  transition: all 0.5s ease-in-out;
  display: flex;
  position: fixed;
  justify-content: center;
  background: #051119;
  width: 100%;
  text-align: center;
  border-top: 2px solid #ffffff;
}

.navbar-mobile-buttons {
  padding: 1.1rem;
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
  background: none;
}

#home-subtitle {
  display: flex;
  justify-content: center;
  font: 1rem;
}

#home-title {
  font-size: 5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  line-height: 0.9;
}
